src/main/resources/schema/Clarizen.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Mule Clarizen Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<xs:schema elementFormDefault="qualified" targetNamespace="http://clarizen.com/api/files"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://clarizen.com/api/files">
	<xs:import schemaLocation="Clarizen.0.xsd"
        namespace="http://clarizen.com/api" />
	<xs:complexType name="DownloadResult">
		<xs:complexContent mixed="false">
			<xs:extension base="q1:Result" xmlns:q1="http://clarizen.com/api">
				<xs:sequence>
					<xs:element minOccurs="0" name="FileInformation"
						nillable="true" type="tns:FileInformation" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DownloadResult" nillable="true"
		type="tns:DownloadResult" />
	<xs:complexType name="FileInformation">
		<xs:sequence>
			<xs:element minOccurs="0" name="Content" nillable="true"
				type="xs:base64Binary" />
			<xs:element minOccurs="0" name="ExtendedInfo" nillable="true"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FileName" nillable="true"
				type="xs:string" />
			<xs:element name="Storage" type="tns:Storage" />
			<xs:element minOccurs="0" name="SubType" nillable="true"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FileInformation" nillable="true"
		type="tns:FileInformation" />
	<xs:simpleType name="Storage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Server" />
			<xs:enumeration value="Url" />
			<xs:enumeration value="Link" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Storage" nillable="true" type="tns:Storage" />
	<xs:complexType name="DownloadMessage">
		<xs:complexContent mixed="false">
			<xs:extension base="q2:BaseMessage" xmlns:q2="http://clarizen.com/api">
				<xs:sequence>
					<xs:element minOccurs="0" name="DocumentId" nillable="true"
						type="q2:EntityId" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DownloadMessage" nillable="true"
		type="tns:DownloadMessage" />
	<xs:complexType name="UploadMessage">
		<xs:complexContent mixed="false">
			<xs:extension base="q3:BaseMessage" xmlns:q3="http://clarizen.com/api">
				<xs:sequence>
					<xs:element minOccurs="0" name="DocumentId" nillable="true"
						type="q3:EntityId" />
					<xs:element minOccurs="0" name="FileInformation"
						nillable="true" type="tns:FileInformation" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UploadMessage" nillable="true"
		type="tns:UploadMessage" />
</xs:schema>